In [20]:
import pandas as pd
arquivo = pd.read_csv('wine_dataset.csv')

In [21]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [22]:
arquivo['style'].value_counts()

white    4898
red      1599
Name: style, dtype: int64

In [24]:
#substituindo string por int
arquivo['style']= arquivo['style'].replace('red', 0)
arquivo['style']= arquivo['style'].replace('white', 1)

In [25]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [26]:
y= arquivo['style']
x= arquivo.drop('style', axis=1)

In [27]:
print(y)

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
6467    1
6468    1
6469    1
6470    1
6471    1
6472    1
6473    1
6474    1
6475    1
6476    1
6477    1
6478    1
6479    1
6480    1
6481    1
6482    1
6483    1
6484    1
6485    1
6486    1
6487    1
6488    1
6489    1
6490    1
6491    1
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [33]:
y.shape

(6497,)

In [34]:
from sklearn.model_selection import train_test_split

#criando as variaveis dos conj de treino e teste
#test_size> 30% dos dados servirão para teste
x_treino, x_teste, y_treino, y_teste= train_test_split(x, y, test_size=0.3)

In [35]:
from sklearn.ensemble import ExtraTreesClassifier
#Criando o modelo
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo os resultados
resultado= modelo.score(x_teste, y_teste)
print('Acurácia:', resultado)

Acurácia: 0.9938461538461538

C:\Users\Pub\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [36]:
#gabarito
y_teste[400:403]

2186    1
745     0
4556    1
Name: style, dtype: int64

In [37]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2186,6.1,0.32,0.25,1.7,0.034,37.0,136.0,0.99200,3.47,0.50,10.8,7
745,7.3,0.51,0.18,2.1,0.070,12.0,28.0,0.99768,3.52,0.73,9.5,6
4556,6.4,0.12,0.30,1.1,0.031,37.0,94.0,0.98986,3.01,0.56,11.7,6

In [38]:
previsoes= modelo.predict(x_teste[400:403])

In [39]:
previsoes

array([1, 0, 1], dtype=int64)